a:link {
	color: #232D36;
	text-decoration: none;
}

a {
	color: #232D36;	
}

body {
	font-family: "poppins";
}

.link {
	color: #556EF2;
}

a:hover {
	color: #556EF2 !important;
}

.container-fluid {
	font-family: "Poppins", sans-serif;
	color: #232D36;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

.container {
	font-family: "Poppins", sans-serif;
	color: #232D36;
}

.navBar {
	position: fixed;
	display: flex;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 30px;
	z-index: 9999;
	transition: all 0.3s ease;
}

.maxWidth .navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-direction: row;
}

.menu {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navBar li {
	list-style: none;
	display: inline-block;
}

.navBar.sticky {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #F8F8F6;
	opacity: 95%;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

li {
	font-size: 18px;
	margin-right: 60px;
	opacity: 60%;
	cursor: pointer;
	transition: color 0.5s ease;
}

li:hover {
	opacity: 100%;
	font-weight: 600;
	color: #556EF2!important; 
}

/*menu btn when smaller screen size*/
.menuBtn {
	display: block;
    position: absolute;
    right: 60px;
	color: #232D36;
	opacity: 60%;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

@media (max-width: 991px){
	.menuBtn {
		display: block;
		z-index: 9999;
	}

	.menuBtn i.active:before {
		content: "\f00d";
	}

	.navBar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		opacity: 95%;
		background: #F8F8F6;
		text-align: center;
		padding-top: 120px;
		transition: all 0.3s ease;
	}

	.navBar .menu.active {
		left: 0;
	}

	.menu {
	    width: 85%;
	    margin-left: auto;
	    margin-right: auto;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	}

	.navBar .menu li {
		display: block;
	}

	.navBar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
}

/*scroll up btn*/
.scrollUpBtn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: #556EF2;
	right: 80px;
	bottom: 30px;
	text-align: center;
	line-height: 45px;
	color: #ffffff;
	z-index: 9999;
	font-size: 33px;
	border-radius: 3.5px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.scrollUpBtn.show {
	opacity: 1;
	pointer-events: auto;
	bottom: 50px;
}

/*home page*/

h1 {
	margin-top: 200px;
	font-size: 86px;
	font-weight: 700;
	text-align: center;
}

.typing {
	margin-top: 100px;
	font-size: 86px;
	font-weight: 700;
	text-align: center;
}

.intro {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 36px;
}

.projectOverview {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 100px;
}

#easyA {
	width: 100%;
}

.overlay1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transition: .3s ease;
	background-color: #FFEAED;
	opacity: 0;
	box-sizing: border-box;
	width: calc(100% - 30px);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.overlay1:hover {
	background-color: rgba(255, 234, 237, 0.85);
	opacity: 1;
}

#textEasyA {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: "poppins";
  	position: absolute;
  	top: 30%;
  	text-align: center;
  	color: #232d36;
  	display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.overlay2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transition: .3s ease;
	background-color: #d0f564;
	opacity: 0;
	box-sizing: border-box;
	width: calc(100% - 30px);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.overlay2:hover {
	background-color: rgba(241, 255, 200, 0.85);
	opacity: 1;
}

#textRO {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: "poppins";
  	position: absolute;
  	top: 35%;
  	text-align: center;
  	color: #232d36;
  	display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#text1 {
	font-size: 36px;
	line-height: 100px;
	font-weight: 700;
}

#text2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
}

#text3 {
	font-size: 36px;
	line-height: 60px;
	font-weight: 700;
}

#riverOtter {
	width: 100%;
}

.email {
	font-size: 16px;
	opacity: 50%;
	text-align: center;
	margin-bottom: 130px;
}

/*EasyA page*/

.frontImage1 {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.frontImage1 img {
	margin-top: 150px;
	width: 100%;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.currentProcess img {
	width: 100%;
}

.contextual img {
	width: 100%;
}

.paragraph {
	width: 65%;
	font-size: 18px;
	margin-top: 100px;
	line-height: 32px;
}

.title1 {
	font-size: 44px;
	padding-left: 50px;
}

.summary {
	font-size: 18px;
	margin-top: 10px;
	line-height: 32px;
}

.overview {
	margin-top: 220px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.role {
	margin-top: 100px;
	margin-bottom: 120px;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 32px;
}

.container-bg {
	background: #f8f8f6;
}

.contentTitle {
	width: 70%;
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
	font-size: 24px;
	line-height: 38px;
}

.currentProcessContent {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
}

.currentProcessContent img {
	margin-top: 100px;
	margin-bottom: 40px;
	width: 100%;
}

.capContentTitles1 {
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 32px;
}

.capContentTitles2 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 32px;
}

.credit {
	font-size: 10px;
	font-weight: 600;
	line-height: 28px;
	margin-top: 30px;
	text-align: right;
}

.map {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 40px;
}

.contextual img{
	width: 100%;
}

.sixFive {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	font-size: 18px;
	line-height: 32px;
	display: flex;
	flex-flow: row;
	align-items: center;
	padding-bottom: 170px;
}

.insightPoint {
	margin-top: 10px;
	text-align: left;
	font-weight: 600;
	line-height: 28px;
}

.green {
	width: 7%;
	justify-content: center;
	background: #d0f564;
}

.pink {
	width: 7%;
	justify-content: center;
	background: #fecfd5;
}

.yellow {
	width: 7%;
	justify-content: center;
	background: #f8e328;
}

.blue {
	width: 7%;
	justify-content: center;
	background: #556ff2;
}

.bulletPoints {
	display: flex;
	flex-flow: row;
	align-items: baseline;
}

.first {
	margin-top: 30px;
}

svg {
  	color: gray;
}

svg:hover {
  	color: #232D36;
  	cursor: pointer;
}

.solutionBigTitle1 {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-size: 100px;
	line-height: 110px;
	padding-right: 330px;
}

.solutionParagraph1 {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding-right: 600px;
	font-size: 18px;
	line-height: 32px;
}

.homeElementsPic img {
	width: 100%;
}

.homeElementsPic {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.home {
	width: 85%;
	margin-top: 250px;
	margin-right: 0;
	margin-left: auto;
	font-size: 18px;
	line-height: 32px;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.home img {
	margin-left: 20px;
	width: 100%;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.capSolutionTitle {
	font-size: 20px;
	margin-right: 40px;
	margin-left: 20px;
}

.solutionParagraph {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 40px;
	margin-left: 20px;
}

.container-bg2 {
	background: #ffffff;
}

.recordContent1 {
	margin-top: 250px;
}

.recordCapTItle {
	width: 70%;
	font-size: 100px;
	line-height: 110px;
	text-align: center;
	margin: 30px auto;
}

.migraine {
	width: 20%;
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 370px;
}

.migraine img {
	width: 100%;
}

.x-ray {
    width: 18.9%;
    margin-bottom: -25px;
    display: flex;
    margin-left: 300px;
    margin-top: 90px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.x-ray img {
	width: 100%;
}

.diabetes {
	width: 23%;
    margin-top: -30px;
    display: flex;
    margin-left: 140px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.diabetes img {
	width: 100%;
}

.OBGYN {
	width: 19.5%;
    display: flex;
    margin-top: 70px;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 250px;
}

.OBGYN img {
	width: 100%;
}

.records img {
	margin-left: -40px;
	width: 100%;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.records {
	width: 85%;
	margin-top: 250px;
	margin-right: auto;
	margin-left: 0;
	font-size: 18px;
	line-height: 32px;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.mobilePic img {
	margin-top: 100px;
	width: 85%;
}

.mobilePic {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.journey img {
	width: 100%;
}

.before img {
	margin-top: 100px;
}

.after img {
	margin-top: 20px;
}

.journey {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}

/*contact*/

.contact {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.contact p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 36px;
}

.infoInput {
	width: 50%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.fields {
	display: flex;
}

.field,
.fields .field {
	height: 55px;
	width: 100%;
	margin-bottom: 25px;
}

.textarea {
	height: 120px;
	width: 100%;
}

.name {
	margin-right: 10px;
}

.emailInput {
	margin-left: 10px;
}

.field input {
	height: 100%;
	width: 100%;
	border-radius: 4px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
}

.name input {
	border: 3px solid #f8e328;
}

.emailInput input {
	border: 3px solid #d0f564;
}

.subject input {
	border: 3px solid #fecfd5;
}

.textarea textarea {
	height: 100%;
	width: 100%;
	border: 3px solid #f8e328;
	border-radius: 4px;
	outline: none;
	padding: 15px;
	font-size: 17px;
}

.textarea textarea {
	padding-top: 10px;
	resize: none;
}

.button {
	height: 47px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 100px;
}

.button button {
	width: 100%;
	height: 100%;
	border: 3px solid #556ff2;
	background: #556ff2;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.button button:hover {
	color: #556ff2;
	background: none;
}

/*river otter page*/
.title2 {
	font-size: 44px;
	padding-right: 50px;
	padding-left: 70px;
	text-align: right;
}

.frontImage2 {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.frontImage2 img {
	margin-top: 150px;
	width: 100%;
}

.errorTitle {
	width: 70%;
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
	font-size: 100px;
	font-weight: 700;
	text-align: center;
}

.errorText {
	margin-top: 50px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;	
	font-size: 21px;
	line-height: 34px;
	font-weight: 500;
}

.error img {
	width: 100%;
}

.errorPic {
	margin-top: 70px;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}

.roContact a {
	color: #556EF2;
}

.roContact a:hover {
	font-weight: 700;
}

/*footer*/
.next {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: right;
	margin-bottom: 150px;
}

.next a {
	color: #232D36;
	opacity: 60%;
}

.next a:hover {
	color: #556EF2;
	font-weight: 600;
	opacity: 100%;
}

.prev {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: left;
	margin-bottom: 150px;
}

.prev a {
	color: #232D36;
	opacity: 60%;
}

.prev a:hover {
	color: #556EF2;
	font-weight: 600;
	opacity: 100%;
}
